.App {
  text-align: center;
  height: 100vh;
  background-color: black;
  padding: 2%;
  display: flex;
  justify-content: center;
}

.content-container {
  background-color: white;
  height: 100%;
  width: 60%;
  padding: 2%;
  border-radius: 1%;
  overflow-y: scroll;
}

.title {
  font-size: 40px;
}
